*{
    padding: 0;
    margin: 0;
    box-sizing : border-box;
    
}
header{
    background-color: #E6E6FA;
}
header .icon a i{
    color: black;
}

.card{
   margin: 20px 0;
   box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.card .card-body a{
    margin-top: 10px;
}
.card{
	overflow:hidden;
	position:relative;
}
.card img{
	object-fit:cover;
	transition:all 1s;
}
.card-title a{
	color:white;
	font-size: 16px;
}
.card:hover img{
	transform:scale(1.1);
}
.btn-danger{
    background-color: #d9534f !important;
    border: 0;
}
